<div>
<div>
   <div class="p-4 pt-[72px] profile-section">
    <!-- Image section -->
    <div class="image-holder">
        <img [src]="profileImage" style="border-radius: 24px;" alt="Profile Image" />
    </div>
    <!-- profile summary section -->
     <div class="summary-holder">
      <div>
        <h1 class="profile-header-name font-bold header">PARTHIPAN S</h1>
        <p class="profile-header-title highlighter header">FRONT END WEB DEVELOPER | ANGULAR</p>
      </div>
      <p class="mt-[4%] text-lg">I am a Front end developer of a top e-learning platform with experience in building high
        performance, cross browser and multi-platform web components with good user interfaces. I
         am also experienced on multi tenancy & micro frontend architecture following Agile
         environments. Currently working as Senior Systems Engineer with expertise in Angular,
         TypeScript, HTML, CSS, Tailwind CSS, Angular Material, Rxjs.</p>
      <div class="flex mt-[4%] contacts-section">
        <a class="w-16 contact-icons" href="https://www.linkedin.com/in/parthipan-s-274499154/" role="button" target="_blank">
          <img src="assets/linkedIn.png" alt="linkedin" [src]="isDarkMode ? 'assets/linkedIn_dark.png' : 'assets/linkedIn.png'" />
        </a>
        <a class="w-16 contact-icons" href="https://github.com/Parthipan-S" role="button" target="_blank">
          <img src="assets/github.png" alt="github" [src]="isDarkMode ? 'assets/github_dark.png' : 'assets/github.png'" />
        </a>
      </div>
     </div>
   </div>
  </div>
</div>