<div class="mt-10">
  <div class="flex justify-between p-4">
    <!-- img -->
    <div class="w-96">
      <img src="assets/IB.PNG" alt="Contact Us" />
    </div>
    <!-- description -->
    <div class="text-sm ml-3 content-center">
      <p>
        72, Ayyappan Nagar, Iyer Bungalow, Sri Krishna, Madurai, Tamilnadu -
        625014.
      </p>
      <div class="flex">
        <a
          class="flex justify-center location-section"
          href="https://share.google/fmZVUuiPcyuxavBkm"
          target="_blank"
        >
          <mat-icon>location_on</mat-icon
          ><span>Altaj shoes Iyer Bangalow </span>
        </a>
        <a
          href="https://wa.me/919943648228"
          role="button"
          target="_blank"
          class="content-center"
        >
          <img src="assets/wp.svg" class="contact-img" alt="whatsapp" />
        </a>
      </div>
    </div>
  </div>

  <div class="flex justify-between p-4">
    <!-- description -->
    <div class="text-sm ml-3 content-center">
      <p>
        45-B, Bypass Rd, Somasundaram colony, S S Colony Madurai , Tamilnadu -
        625010.
      </p>
      <div class="flex">
        <a
          class="flex justify-center location-section"
          href="https://share.google/mjAx3DhLwURDsIpAh"
          target="_blank"
        >
          <mat-icon>location_on</mat-icon><span>Altaj shoes kalavasal </span>
        </a>
        <a
          href="https://wa.me/919943648228"
          role="button"
          target="_blank"
          class="content-center"
        >
          <img src="assets/wp.svg" class="contact-img" alt="whatsapp" />
        </a>
      </div>
    </div>
    <!-- img -->
    <div class="w-96">
      <img src="assets/bypass.PNG" alt="Contact Us" />
    </div>
  </div>
</div>
