<div class="mt-[2%] p-4">
    <h1 class="text-2xl sm:text-4xl  font-bold highlighter header">ACHIEVEMENTS</h1>
    <div class="mt-[1%] mx-[4%]">
        <ul class="list-[inherit]">
            <li>Trailblazers award for developing and delivering UI screens for AI feature within short period.</li>
            <li>Appreciation award for delivering UI screens for various Modules.</li>
            <li>Got certified on Angular as a part of training - Infosys certified Angular course</li>
        </ul>
    </div>
</div>