<app-nav-bar [isDarkMode]="isDarkMode" (toggleTheme)="toggleTheme()"></app-nav-bar>

<app-profile-section [isDarkMode]="isDarkMode"></app-profile-section>

<!-- <mat-divider class="custom-divider"></mat-divider> -->

<app-experience-section></app-experience-section>

<!-- <mat-divider class="custom-divider"></mat-divider> -->

<app-skills-section></app-skills-section>

<!-- <mat-divider class="custom-divider"></mat-divider> -->

<app-achievements></app-achievements>

<!-- <mat-divider class="custom-divider"></mat-divider> -->

<app-hobby-section></app-hobby-section>